{extend name="layout/app" /}

{block name="content"}
<div class="admin-content">
    <div class="admin-content-body">
        <div class="page-header">
            <ol class="am-breadcrumb am-breadcrumb-slash">
                <li><a href="/admin/Classify/index">广告分类</a></li>
                <li>新增分类</li>
            </ol>
        </div>

        <div class="page-body">

            <form class="am-form am-form-horizontal" method="post" action="{:url('admin/Classify/save')}">

                <div class="am-form-group">
                    <label class="am-u-sm-12 am-u-md-3 am-form-label">分类名称</label>
                    <div class="am-u-sm-12 am-u-md-5 am-u-end">

                        <input type="text" name="name" placeholder="输入分类名称">
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-12 am-u-md-3 am-form-label">
                        缩略图
                    </label>

                    <div class="am-u-sm-12 am-u-md-5 am-u-end">
                        <div class="am-form-group am-form-file">
                            <button type="button" class="am-btn am-btn-success am-btn-sm">
                                <i class="am-icon-cloud-upload" id="loading"></i> 上传缩略图
                            </button>
                            <input type="file" id="image_upload">
                            <input type="hidden" name="photo_id">

                        </div>

                        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed am-no-layout">

                        <div>
                            <img src="" id="img_show" style="max-height: 150px;margin-bottom: 10px;">
                        </div>
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-12 am-u-md-3 am-form-label">排序</label>
                    <div class="am-u-sm-12 am-u-md-5 am-u-end">
                        <input type="text" name="sort" placeholder="输入你的排序">
                    </div>
                </div>

                <div class="am-form-group">
                    <div class="am-u-sm-12 am-u-md-9 am-u-md-offset-3">
                        <button type="button" onclick="location='/admin/Classify/index'"
                                class="am-btn am-btn-default am-btn-sm am-radius">返 回
                        </button>
                        <button type="submit" class="am-btn am-btn-primary am-btn-sm am-radius">保 存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <footer class="admin-content-footer">
        <p>Copyright © 2013-2018 长乐未央技术研发部出品</p>
    </footer>
</div>
{/block}
{block name="js"}
<script src="/vendor/html5-fileupload/jquery.html5-fileupload.js"></script>
<script src="/static/upload.js"></script>

{/block}