{extend name="layout/app" /}

{block name="content"}

    <div id="wrapper">
        <div class="page-order-pay" data-log="在线支付">
            <div class="box box1">
                <div class="p1"><span class="icon-checked"></span><span>订单提交成功</span></div>
                <div class="p2">
                    <span style="color: #FF5722">请在30分钟内完成支付，超时订单将自动关闭。</span>
                </div>
                <div class="p2"><p class="count" style="color: #D92E2E"></p></div>
            </div>
            <div class="box box2">
                <div class="p">订单金额：{$order->total_price}元 &nbsp;&nbsp; 订单编号：{$order->out_trade_no}</div>
                <div class="p h_box">
                    <div>收货信息：</div>
                    <div class="flex_1">{$order->address->name} {$order->address->tel}
                        <br>{$order->address->province} {$order->address->city} {$order->address->area} {$order->address->detail}
                    </div>
                </div>
                <div class="p">发票类型：个人电子发票 <p>发票抬头：个人</p></div>
            </div>
            <div class="box box3">
                <div class="head"><span>请选择支付方式</span></div>
                <div class="list">
                    <div class="item active">
                        <div data-log="A0-支付宝" class="inner">
                            <div class="p">支付宝</div>
                            <div class="p right">大额支付推荐使用支付宝快捷支付</div>
                        </div>
                    </div>
                    <div class="item">
                        <div data-log="A1-小米钱包" class="inner">
                            <div class="p">小米钱包</div>
                            <div class="p right"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div data-log="A2-银联在线支付" class="inner">
                            <div class="p">银联在线支付</div>
                            <div class="p right"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box4">
                <div class="p p1">
                    <p>本次需支付：<span class="hot">{$order->total_price|number_format=2}元</span></p>
                </div>
            </div>
            <div class="box box5"><a href="javascript:;" data-log="bottom-bankgo"
                                     class="ui-button"><span>立即支付</span></a>
            </div>
        </div>
    </div>


{/block}
{block name="js"}
    <script>
        window.onload = function () {
            countDown();

            function addZero(i) {
                return i < 10 ? "0" + i : i + "";
            }

            function countDown() {
                var nowtime = new Date();
                var endtime = new Date({!! json_encode($order->created_at) !!});
                // endtime.setSeconds(endtime.getSeconds() + 30); // 设置30秒
                endtime.setMinutes(endtime.getMinutes() + 30); // 设置30分钟
                var lefttime = parseInt((endtime.getTime() - nowtime.getTimed()) / 1000);
                var m = parseInt(lefttime / 60 % 60);
                var s = parseInt(lefttime % 60);
                m = addZero(m);
                s = addZero(s);
                document.querySelector(".count").innerHTML = `剩余支付时间：  ${m} 分 ${s} 秒`;
                if (lefttime <= 0) {
                    document.querySelector(".count").innerHTML = "订单已失效";
                    return;
                }
                setTimeout(countDown, 1000);
            }
        }

    </script>
    {/block}