{extend name="layout/app" /}

{block name="css"}
<link rel="stylesheet" href="/vendor/webupload/dist/webuploader.css"/>
<link rel="stylesheet" type="text/css" href="/vendor/webupload/style.css"/>
{/block}

{block name="content"}

<div class="admin-content">
    <div class="admin-content-body">
        <div class="page-header">
            <ol class="am-breadcrumb am-breadcrumb-slash">
                <li><a href="/admin/Product/index">商品管理</a></li>
                <li>编辑商品</li>
            </ol>
        </div>

        <div class="page-body">
            <form class="am-form am-form-horizontal" action="/admin/Product/update/id/{$product.id}" method="post">

                <div class="am-tabs am-margin" data-am-tabs>
                    <ul class="am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a href="#tab1">通用信息</a></li>
                        <li><a href="#tab2">商品介绍</a></li>
                        <li><a href="#tab3">商品相册</a></li>
                    </ul>
                    <div class="am-tabs-bd">

                        <div class="am-tab-panel am-fade am-in am-active" id="tab1">

                            <div class="am-form-group">
                                <label class="am-u-sm-12 am-u-md-3 am-form-label">所属类别</label>
                                <div class="am-u-sm-12 am-u-md-5 am-u-end">
                                    <select multiple
                                            data-am-selected="{btnWidth: '100%', btnSize: 'sm', maxHeight: 360}"
                                            name="category_id[]">
                                        <option value="">请选择</option>

                                        {volist name="categories" id="category"}
                                        <optgroup label="{$category->name}">
                                            {volist name="category.children" id="child"}

                                            <option value="{$child->id}"
                                                    {volist name="product->categories" id="vo"}
                                                    {in name="child.id" value="$vo.id"}selected{/in}
                                            {/volist}
                                            >{$child->name}
                                            </option>

                                            {/volist}
                                        </optgroup>
                                        {/volist}
                                    </select>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-12 am-u-md-3 am-form-label">名称</label>
                                <div class="am-u-sm-12 am-u-md-5 am-u-end">
                                    <input type="text" name="name" value="{$product.name}" >
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-12 am-u-md-3 am-form-label">所属品牌</label>
                                <div class="am-u-sm-12 am-u-md-5 am-u-end">
                                    <select data-am-selected="{btnWidth: '100%', btnSize: 'sm', maxHeight: 360}"
                                            name="brand_id">
                                        <option value="">请选择</option>
                                        {volist name="brands" id="brand"}
                                        <option value="{$brand.id}" {if $product->brand_id == $brand.id} selected {/if}>{$brand.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-12 am-u-md-3 am-form-label">
                                    缩略图
                                </label>

                                <div class="am-u-sm-12 am-u-md-5 am-u-end">
                                    <div class="am-form-group am-form-file">
                                        <button type="button" class="am-btn am-btn-success am-btn-sm">
                                            <i class="am-icon-cloud-upload" id="loading"></i> 上传缩略图
                                        </button>
                                        <input type="file" id="image_upload">
                                        <input type="hidden" name="photo_id">
                                    </div>

                                    <hr data-am-widget="divider" style=""
                                        class="am-divider am-divider-dashed am-no-layout">

                                    <div>
                                        <img src="{$product.photos.image}" id="img_show" style="max-height: 150px;margin-bottom: 10px;">
                                    </div>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-12 am-u-md-3 am-form-label">单价</label>
                                <div class="am-u-sm-12 am-u-md-5 am-u-end">
                                    <input type="text" name="price" value="{$product.price}">
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-12 am-u-md-3 am-form-label">库存</label>
                                <div class="am-u-sm-12 am-u-md-5 am-u-end">
                                    <input type="text" name="stock" value="{$product.stock}">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-12 am-u-md-3 am-form-label">排序</label>
                                <div class="am-u-sm-12 am-u-md-5 am-u-end">
                                    <input type="text" name="sort" value="{$product.sort}">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-12 am-u-md-3 am-form-label">上架</label>

                                <div class="am-u-sm-12 am-u-md-5 am-u-end">
                                    <label class="am-radio-inline">
                                        <input type="radio" value="1" name="is_onsale" checked=""> 是
                                    </label>
                                    <label class="am-radio-inline">
                                        <input type="radio" value="0" name="is_onsale"> 否
                                    </label>
                                </div>
                            </div>

                            <div class="am-margin-top">
                                <label class="am-u-sm-12 am-u-md-3 am-form-label">类型</label>

                                <input type="hidden" name="is_top" value="0">
                                <input type="hidden" name="is_recommend" value="0">
                                <input type="hidden" name="is_hot" value="0">
                                <input type="hidden" name="is_new" value="0">

                                <div class="am-u-sm-12 am-u-md-5 am-u-end">
                                    <div class="am-btn-group" data-am-button>
                                        <label class="am-btn am-btn-default am-btn-sm">
                                            <input type="checkbox" name="is_top" value="1"> 置顶
                                        </label>
                                        <label class="am-btn am-btn-default am-btn-sm">
                                            <input type="checkbox" name="is_recommend" value="1"> 推荐
                                        </label>
                                        <label class="am-btn am-btn-default am-btn-sm">
                                            <input type="checkbox" name="is_hot" value="1"> 热销
                                        </label>
                                        <label class="am-btn am-btn-default am-btn-sm">
                                            <input type="checkbox" name="is_new" value="1"> 新品
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="am-tab-panel am-fade" id="tab2">

                            <div class="am-margin-top">
                                <label class="am-u-sm-12 am-u-md-3 am-form-label">商品介绍</label>
                                <div class="am-u-sm-12 am-u-md-5 am-u-end">
                                    <script id="container" name="content" type="text/plain">{$product.content}</script>
                                </div>
                            </div>
                        </div>

                        <div class="am-tab-panel am-fade" id="tab3">
                            <ul data-am-widget="gallery"
                                class="am-gallery am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-gallery-imgbordered xGallery"
                                data-am-gallery="{ pureview: true }">

                                {volist name="product->galleries" id="gallery"}
                                <li style="float: left;margin-left: 10px;">
                                    <div class="am-gallery-item">
                                        <a href="javascript:;">
                                            <img src="{$gallery->img}"/>
                                        </a>
                                        <div class="file-panel">
                                            <span class="cancel" data-id="{$gallery->id}">删除</span>
                                        </div>
                                    </div>
                                </li>
                                {/volist}
                            </ul>

                            <div id="uploader">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder">
                                        <div id="filePicker"></div>
                                        <p>或将照片拖到这里，单次最多可选300张</p>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                    <div class="btns">
                                        <div id="filePicker2"></div>
                                        <div class="uploadBtn">开始上传</div>
                                    </div>
                                </div>

                                <div id="imgs"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="am-form-group">
                    <div class="am-u-sm-12 am-u-md-9 am-u-md-offset-3">
                        <button type="button" onclick="location='/admin/Product/index'"
                                class="am-btn am-btn-default am-btn-sm am-radius">返 回
                        </button>
                        <button type="submit" class="am-btn am-btn-primary am-btn-sm am-radius">保 存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <footer class="admin-content-footer">
        <p>Copyright © 2013-2018 长乐未央技术研发部出品</p>
    </footer>
</div>

{/block}

{block name="js"}
<script src="/vendor/html5-fileupload/jquery.html5-fileupload.js"></script>
<script src="/static/upload.js"></script>

<script type="text/javascript" src="/vendor/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/vendor/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');
    //鼠标放上去，显示删除按钮，否则移除按钮
    $(".am-gallery-item").hover(function () {
        $(this).children('.file-panel').fadeIn(300);
    }, function () {
        $(this).children('.file-panel').fadeOut(300);
    });
</script>
<script type="text/javascript" src="/vendor/webupload/dist/webuploader.js"></script>
<script type="text/javascript" src="/vendor/webupload/upload.js"></script>
{/block}